@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h4 class='hash'>#Login</h4>
                <h2>Nice to see You again</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control inputs" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control inputs" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label ">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="submitFlex">
                    <button id="login-submit" type="submit" class="butt">Log in</button>
                <div>
                        <p class="info">
                        <a class="info" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p class="info">
                        <a class="info" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p class="info">
                        <a class ="info" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
                </div>
            </form>
        </section>
    </div>
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
    .hash {
        color: #169D88;
        font-weight: bold;
    }

    .inputs {
        margin-top: 20px !important;
        border: #cefee0 2px solid;
        border-radius: 10px;
        background-color: #2d2d2d;
    }

        .inputs:focus {
            background-color: #151515;
            color: white;
        }

    .butt {
        padding: 12px 18px;
        background-color: #319c88;
        font-weight: 700;
        text-align: center;
        border-radius: 30px;
        margin-top: 2em;
        width: 45%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #cefee0;
        border: none;
    }

    .butt2 {
        padding: 12px 18px;
        border: 2px solid #319c88;
        font-weight: 700;
        text-align: center;
        border-radius: 30px;
        margin-top: 2em;
        width: 45%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #cefee0;
        text-decoration: none;
        font-style: none;
    }

    .info {
        padding: 10px;
        padding: 10px;
        text-wrap: nowrap;
        color:white;
        text-decoration: none;
        font-style: none;
    }

    .submitFlex {
        display: flex;
        width: 70vh;
        align-content: center;
        justify-content: center;
        align-items: baseline;
        flex-direction:column;
    }
</style>
                               