@model List<Playlist>
<div class="col-md-9">
    <div class="topIndex">

    <h1 class="dm">Moje playlisty</h1>
        <div class="leftIndex">

        <div class="serch">
                @* <label asp-for="GenreId"></label> *@
            <input type="text" id="filter" class="serchinput" placeholder="Wyszukaj playlisty" />
@*             <input type="hidden" asp-for="GenreId" />
            <span class="text-danger" asp-validation-for="GenreId"></span> *@

        </div>
            <a class="buton" asp-controller="Playlist" asp-action="Create">Dodaj Playliste</a>

        </div>
    </div>


    <div class="tabela">
<table class="table text-light">
    <tr>
        <th>Nazwa</th>
        <th>Staus</th>
        <th>Tagi</th>
        <th>Liczba piosenek</th>
        @* <th>Notowanie</th>
        <th>Data wydania</th>
        <th>Czas trwania</th> *@
    </tr>
            
    @foreach (var playlist in Model)
    {
        <tr>
            <td>@playlist.Name</td>
            <td>@PlaylistHelper.ConvertPublicStatus(playlist.IsPublic)</td>
            <td>
                        @if (playlist.TagNames != null && playlist.TagNames.Any())
                        {
                            foreach (var tagName in playlist.TagNames)
                            {
                                <span>@tagName</span>

                                <br />
                            }
                        }
                        else
                        {
                            <p>Brak tagów</p>
                        }

            </td>

            <td>
                @if (playlist.TrackNames != null && playlist.TrackNames.Any())
                {
                   @playlist.TrackNames.Count()   
                }
                else
                {
                    <p>0</p>
                }
            </td>

            
            <td>
                <a class="btn btn-outline-secondary" asp-controller="Playlist" asp-action="Update" asp-route-id="@playlist.Id">Edit</a>
                <a class="btn btn-outline-info" asp-controller="Playlist" asp-action="Details" asp-route-id="@playlist.Id">Szczegóły</a>
                <a class="btn btn-outline-danger" asp-controller="Playlist" asp-action="Delete" asp-route-id="@playlist.Id">Usuń</a>
            </td>
        </tr>
    }
</table>
    </div>
</div>
<style>
    .topIndex{
        width:100%;
        height:auto;
        padding:10px;
        display:flex;

    }
    .topIndex h1{
        width:40%;
    }
    .leftIndex{
        width:60%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
    }

    .col-md-9{
        margin:auto;
    }
    .serch{
        margin-right:2em;
    }
    .serchinput{
        border: solid 3px #cefee0;
        border-radius: 30px;
        background-color: transparent;
        color: white;
        width: 100%;
        height: 100%;
        padding: 5px 15px;
    }   
    .serchinput::placeholder {
            color: #179E88;
    }

    .buton{
        background-color: #cefee0;
        border: none;
        border-radius: 30px;
        padding: 7px 20px;
        color: #419c88;
        font-weight: 700;
        text-decoration:none;
    }
    .tabela{
        width:100%;
        height:100%;
        border-radius:20px;
        padding:20px;
        margin-top:1em;
        background-color: #192232;
    }
</style>