@model Album

<div class="col-md-9">
    <a class="back" asp-action="Index">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
        Powrót
    </a>



   

    <div class="tabela">
        <table class="table text-light">
            <tr>
                <th>Nazwa Albumu</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Zespół / Artysta</th>
                <td>@Model.BandOrArtist</td>
            </tr>
            <tr>
                <th>Lista Utworów</th>
                <td>
                    <ol>
                        @foreach (var track in Model.Tracklist)
                        {
                            <li>@track.Name - @track.Duration</li>
                        }
                    </ol>
                </td>
            </tr>
            <tr>
                <th>Data Wydania</th>
                <td>@Model.ReleaseDate</td>
            </tr>
            <tr>
                <th>Czas Trwania</th>
                <td>@Model.Duration</td>
            </tr>
            <tr>
                <th>Notowania</th>
                <td>@Model.ChartRanking</td>
            </tr>
            <tr>
                <th>Gatunek</th>
                <td>@Model.GenreName</td>
            </tr>
        </table>

        
    </div>
</div>

<style>
    .topIndex {
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .dm {
        margin: 0;
    }

    .tabela {
        width: 100%;
        height: auto;
        border-radius: 20px;
        padding: 20px;
        margin-top: 1em;
        background-color: #192232;
    }

    .table {
        color: white;
    }

        .table th {
            width: 20%;
        }

    .btn-primary {
        background-color: #cefee0;
        border: none;
        border-radius: 30px;
        padding: 7px 20px;
        color: #419c88;
        font-weight: 700;
        text-decoration: none;
    }

    .col-md-9 {
        margin: auto;
    }
</style>
