@model Album
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Szczegóły dotyczące Albumu nr: @Model.Id </h1>




            <p> <strong>Nazwa albumu:</strong> @Model.Name</p>
            <p> <strong>Zespół / artysta:</strong> @Model.BandOrArtist</p>
            <p> <strong>Lista utworów:</strong> </p>
                <ol>
                    @for (var i = 0; i < Model.Tracklist.Count; i++)
                    {
                    <li>@Model.Tracklist[i] </li>
                    }
                </ol>
            <p> <strong>Data wydania:</strong> @Model.ReleaseDate</p>
            <p> <strong>Czas trwania:</strong> @Model.Duration</p>
            <p> <strong>Notowania:</strong>  @Model.ChartRanking.GetDisplayName()</p>





            <a class="btn btn-primary" asp-action="Index">Powrót</a>
            </div>
    </div>

</div>